<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h1>User Register</h1>
    </div>
    <div class="form-container">
    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <div class="card-content">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="correo@dominio.com" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Ingresa tu contraseña" required>
      </div>
    </div>
    <div class="card-footer">
      <button class="register-button" type="submit">Register</button>
    </div>
    </form>
    </div>
  </div>
</div>